* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

header h1{
    font-size: 70px;
}
header span {
    font-size: 70px;
    color: #EE4d2d;
}

.product-form {
    padding: 8px;
}

.order-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order-form h2 {
    margin: 15px;
}

.order-form label {
    display: flex;
}

.order-form p {
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
}
footer label {
    color: red;
    font-weight: bold;
}