* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: whitesmoke;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

#labels {
    color: #a21b00;
}
header h1{
    font-size: 70px;
}
header span {
    font-size: 70px;
    color: #EE4d2d;
}

.products {
    margin-left: 35px;
    margin-right: 25px;
}
.product-form {
    margin: 10px;
    padding: 10px;
}

.order-form {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.order-form input[type="date"] {
    background-color: bisque;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
}
.order-form h2 {
    font-size: 30px;
    font-weight: bold;
}

.order-form label {
    display: flex;
}

.order-form p {
    margin-top: auto;
    margin-bottom: auto;
}
.shipping {
    margin-right: 35px;
}
footer {
    display: flex;
    justify-content: flex-end;
}
footer label {
    color: red;
    font-weight: bold;
}

.last {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.cards {
    display: inline-block;
    margin-right: 30px;
}
.cards label {
    display: block;
}


.label{
    margin-right: 35px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.buttons button {
    margin-right: 30px;
    padding: 5px;
    border: 1.5px solid rebeccapurple;
    border-radius: 10px;
}
.expiration {
    display: flex;
    margin-left: 40px;
}