* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

#labels {
    color: #a21b00;
}
header h1{
    font-size: 70px;
}
header span {
    font-size: 70px;
    color: #EE4d2d;
}

.product-form {
    margin: 10px;
    padding: 10px;
}

.order-form {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.order-form input[type="date"] {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.order-form h2 {
    font-size: 30px;
    font-weight: bold;
}

.order-form label {
    display: flex;
}

.order-form p {
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
}
footer label {
    color: red;
    font-weight: bold;
}

last {
    display: flex;
}

.label{
    margin-right: 35px;
}