body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    font-family: 'Times New Roman';
}

#header {
    color: white;
    margin: 50px;
    text-align: center;
}

#header h1 {
    margin: 0;
}

#header p {
    margin: 0;
    font-size: small;
}

#banner {
    display:flex;
    background-color: white;
}

#banner p {
    padding: 70px 0;
    padding-top: 100px;
    text-align: center;
    font-size: 44px;
}

img {
    max-width: 350px;
    max-height: auto;
}

#biography {
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

#biography h1 {
    font-size: 45px;
}

#biography p {
    font-size: 18px;
    line-height: 25px;
}